* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

body {
    font-size: 15px;
    font-family: Spartan;
}

.main-info {
    background-color: white;
    float:left;
    border: 3px solid red;
    width: 40%;
    height: 50vh;
}

.main-info h1 {
    color: var(--very-dark-magenta);
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.main-info p {
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.3rem;
}

.reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    float:right;
    width: 60%;
    height: 50vh;
    border: 3px solid green;
}

.reviews img {
    margin-left: 0.3rem;
}

.review {
    width: 60%;
    display: block;
    background-color: var(--light-grayish-magenta);
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.review:nth-child(1){
    margin-top: 1rem;
    margin-left: 5rem;
    align-self: flex-start;
}


.review:nth-child(2){
    align-self: center;
}

.review:nth-child(3){
    margin-right: 5rem;
    align-self: flex-end;
}

.review h4 {
    margin-left: 2rem;
    display: inline-block;
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.cards {
    background-color: white;
    border: 3px solid orange;
}

.card {

}